<body style="background-color:ghostwhite">
 <h1 class="title">Categories</h1>
 <div class="container" >
    <div class="row">
      <div class="col">
        
        <a class="btn btn-outline-dark1" href="bride" role="button">Bridal Lehanga</a>
        <a class="btn btn-outline-dark2" href="sarees" role="button">Bridal Sarees</a>
        <a class="btn btn-outline-dark3" href="gowns" role="button">Gowns</a>
        <a class="btn btn-outline-dark4" href="sherwani" role="button">Sherwani</a>
        <a class="btn btn-outline-dark5" href="blazers" role="button">Blazers</a>
        <a class="btn btn-outline-dark6" href="groom" role="button">Suits</a>
        <a class="btn btn-dark1" href="bride" role="button">Women</a>
        <a class="btn btn-dark2" href="bride" role="button">Men</a>

        <div class="col align-self-start">
      <div class="card" style=" width: 35rem;">
          <img src="https://www.rentanattire.com/uploaded_files/banner/de0f7ead2af2f08eeec8bafd9dcb8b8c.png" class="card-img-top" alt="..." height="400px" width="90px">
         </div>  
         <div class="col align-self-start">
         <div class="card1" style="width: 35rem;">
          <img src="https://www.rentanattire.com/uploaded_files/banner/4f9236dd6c71ff56d173544349ce61b6.png" class="card-img-top" alt="..." height="400px" width="90px">
         </div>  
        </div>
        </div>
        </div>
  