<div class="container" >
    <div class="row">
      <div class="col" *ngFor="let item of groom">
        
      <div class="card" style="width: 15rem;">
          <img src="{{item.image}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">{{item.details}}</p>
            <a (click)="more(item.name)" class="btn btn-primary">RENT NOW</a>
          </div>
        </div>
        </div>
        </div>
  </div>


