<div class="banner">
    <h1>ABOUT US</h1>
</div>
<div class="banner2">
    <div class="container text-center">
        <div class="row">
          <div class="col">
             <p>Rentalattire offers premium rental services at favourable prices.
                 Be it weddings,brunch parties,pre-wedding shoots or themed fashion shows
        -rent your choice and say goodbye to month long waitings for sales and discount on your favourite brands.We Rentalattire host a large variety
        of ethinic wear,wester wear and Indo-western designer outfits for both men abd women.From bridal lehangas to party wears,designer lehengas to gowns
         and blazers to many other modish outfits.Our collection covers your smallest and your largest fashion demands without burning a hole through your pockets.
         So if you wish to look your best on your next occasion and want to experience the suave taste of our fashion industry,the hop straight
         to Rentalattire and we will do the rest of your dream attire!
         We offer outfits on rent for 3,5,7 or 10 days.Pick the desired outfits,tell us how long you need it
         for and we shall have it ready for you in sync with your requirements.We maintain supreme levels of hygiene on our end in order to provide you with the most
         dazzling versionof your outfit.So hurry and book your first outfit with us your wish.


             </p>
    </div>
    </div>
    </div>
</div>
