.banner
{
    background-image:url('../../../assets/images/wedding-bells-rent-an-attire.jpg');
    height:250px;
    background-position:center top;
    background-size:cover;
}
.banner h1{
    color:white;
    font-size: 60px;
    font-weight: bold;
    font-style: oblique;
    top: 130px;
    left:500px;
    position:absolute ;
}
.banner2
{
    background-color: black;
    height:500px;
    background-position:center top;
    background-size:cover;
}
p
{
    top: 50px;
    color:white;
    left:100px;
    justify-content: center;
    padding: 50px 100px;
    font-style: normal;
    letter-spacing:1px;
    line-height: 1.8;
}