.banner2
{
    background-image: url('https://thumbs.dreamstime.com/z/woman-white-wedding-dress-fashion-bride-model-long-gown-flying-air-wind-gray-background-side-view-woman-white-210707079.jpg');
    height:800px;
    background-position:center top;
    background-size:cover;
}