<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="container-fluid footer">
    <div class="row">

        <div class="col-lg-6">
            <h1>rentalattire</h1>
        </div>
        <div class="col-lg-4">
            <a routerLink="home">Home</a>
            <a routerLink="about">About</a>
            <a routerLink="contact">Contact</a>
            <div class="col-lg-7">
               
            <p><a href="mailto:hege@example.com">copyright@2023rentalattire.com</a></p>
        </div>
        <div class="social">
          <h6>Follow Us</h6>
           
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-linkedin"></a>
          </div>
         